extends layout

block content

  h1= title
  .table-responsive
    table.table.table-striped 
      thead
        tr
          th(scope=col) Name
          th(scope=col) Joined
      tbody
        each user in user_list 
          tr
            td 
              a(href=user.url) #{user.firstName} #{user.lastName}
            td #{user.joined_formatted}
      
        else
          li There are no users.